@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  min-height: 100vh;
  scroll-snap-align: start;

  & > div {
    margin: 5%;
    @include devices(mobile) {
      margin: 10% 0;
    }

    & > div {
      margin: 0 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      @include devices(mobile) {
        margin: 0;
        flex-direction: column;
      }

      .project-wrapper {
        margin: 2%;
        position: relative;
        overflow: hidden;
        text-align: left;

        &:hover img {
          opacity: 0.2;
        }

        &:hover figcaption::before {
          background: rgba(255, 255, 255, 0);
          left: 30px;
          opacity: 1;
          -webkit-transition-delay: 0s;
          transition-delay: 0s;
        }

        &:hover figcaption h4 {
          opacity: 1;
          -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
          -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
        }

        &:hover figcaption p {
          opacity: 0.9;
          -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
          -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
        }

        &:hover figcaption a {
          opacity: 0.9;
          -webkit-transform: translate3d(0%, 0%, 0);
          transform: translate3d(0%, 0%, 0);
          -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
        }

        img {
          max-width: 100%;
          opacity: 1;
          width: 28vw;
          height: 30vh;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
          @include devices(mobile) {
            width: 70vw;
          }
        }

        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 20px 3em;
          width: 100%;
          height: 100%;
          @include devices(mobile) {
            padding: 10px 3em;
          }

          &::before {
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 100%;
            border-left: 4px solid rgba(255, 255, 255, 0.8);
            content: "";
            opacity: 0;
            background-color: rgba(255, 255, 255, 0.9);
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            // -webkit-transition-delay: 0.6s;
            // transition-delay: 0.6s;
          }
        }

        h4,
        p,
        a {
          opacity: 0;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, -webkit-transform 0.35s,
            -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
        }

        h4 {
          padding-bottom: 1.5%;
          -webkit-transform: translate3d(30%, 0%, 0);
          transform: translate3d(30%, 0%, 0);
          //-webkit-transition-delay: 0.3s;
          //transition-delay: 0.3s;
          @include devices(mobile) {
            font-size: 1em;
          }
        }

        p {
          padding-bottom: 6%;
          -webkit-transform: translate3d(0%, 30%, 0);
          transform: translate3d(0%, 30%, 0);
          // -webkit-transition-delay: 0s;
          // transition-delay: 0s;
          @include devices(mobile) {
            font-size: 0.9em;
          }
        }

        a {
          bottom: 15px;
          right: 15px;
          position: absolute;
          color: #ffffff;
          font-size: 1.6em;
          -webkit-transform: translate3d(0%, 30%, 0);
          transform: translate3d(0%, 30%, 0);
          // -webkit-transition-delay: 0s;
          // transition-delay: 0s;
        }
      }
    }
  }
}
