@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(20000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value}, #{random(2000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);

.animated-dots {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

.stars2 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-medium;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

.animated-star {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(white, 0.8);
  position: absolute;
  transition: all 0.5s ease-in-out;
  transform: rotate(15deg) scale(0.2);
  animation: shine 5s infinite;

  &:after,
  &:before {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(to left, transparent, white, transparent);
    left: -34px;
    top: calc(50% - 1px);
    width: 80px;
    height: 2px;
  }

  &:before {
    width: 2px;
    height: 80px;
    left: calc(50% - 1px);
    top: -34px;
    background: linear-gradient(to bottom, transparent, white, transparent);
  }
}

@keyframes shine {
  0% {
    transform: scale(0.1) rotate(-200deg);
  }
  55% {
    transform: scale(0.2) rotate(180deg);
  }
  100% {
    transform: scale(0.1) rotate(-200deg);
  }
}
