@mixin devices($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 900px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media (max-width: 600px) {
      @content;
    }
  }
}

.header {
  padding: 4%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  z-index: 10;
  @include devices(mobile) {
    padding: 4% 2%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-right: 5%;

      li {
        margin: 0 5%;
        width: auto;
        text-align: center;
        font-weight: 600;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 4px;
          border-radius: 4px;
          background-color: #9b339f;
          bottom: -4px;
          left: 0;
          transform-origin: right;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }

        &:hover::before {
          transform-origin: left;
          transform: scaleX(1);
        }

        a {
          font-size: large;
          color: #f0f8ff;

          &:hover {
            color: #9b339f;
          }
          @include devices(tablet) {
            display: none;
          }
        }
      }
    }

    .active > a {
      color: #9b339f;
    }

    .menu {
      display: none;
      @include devices(tablet) {
        display: block;
        font-size: 36px;
        margin-right: 5%;
      }
      @include devices(mobile) {
        display: block;
        font-size: 32px;
        margin-right: 4%;
      }
    }
  }

  .sidebar-menu {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: #282828;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10%;
    padding: 5%;

    .close-button {
      font-size: 1.8em;
      align-self: flex-end;
      &:hover {
        cursor: pointer;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        width: max-content;
        &:hover {
          cursor: pointer;
        }

        a {
          font-size: 1.5em;
        }
      }
    }

    .icons {
      display: flex;
      gap: 3%;
      &:hover {
        cursor: pointer;
      }

      a {
        font-size: 1.3em;
      }
    }

    .resume {
      font-size: 1.3em;
      padding: 3%;
      border: 0.5px solid rgb(73, 73, 73);
      border-radius: 10px;
      width: max-content;
      &:hover {
        cursor: pointer;
      }
    }
  }

  a {
    color: #f0f8ff;
  }
}
