.rSidebar {
  padding: 4% 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 15%;

  .contact {
    border: 2px solid white;
    padding: 5%;
    width: auto;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background: #f0f8ff;
      color: #141416;
    }
  }
}
